services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "54321:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
  api:
    build: .
    container_name: api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - CI=true
      - DB_HOST=postgres
      - DB_PORT=5432
    volumes:
      - .:/src
      - /src/node_modules
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    command: sh -c "pnpm install && pnpm run dev"
volumes:
  postgres_data:
  redis_data:
